.move-right
   padding-left: 260px
   width: 100vw
   justify-content: center

.default
   padding-left: 20px
   width: 100vw
   justify-content: center

.content
   min-height: calc(100vh - 30px)
   padding-top: 50px
   margin-right: 20px
   padding-right: 18px

.footer-position
   margin-top: 30px
 	position: relative
 	bottom: 0
