.home
  background-color: white !important
  border-radius: 30px
  overflow: auto

.title
  text-align: left
  font-size: 30px
  padding-left: 20px
  padding-top: 20px


.text
  padding-left: 20px
  padding-top: 20px
  padding-bottom: 20px
  text-align: left
