
.avatar-list
  flex-direction column
  display flex
  justify-content space-around
  align-items center

.row1
  padding-top: 30px
  padding-bottom: 10px
  color: #17324d !important
  width: 100%

.row
  padding-bottom: 10px
  color: #17324d !important

.section
  width:70%
  margin-bottom: 30px

.avatar-display
  width:100%
  margin-bottom: 30px
  display flex
  justify-content space-around
  overflow: auto
