
.paper
  background-color: #FFFFF0 !important
  text-align: center !important
  overflow: auto !important
  header
    width: 100% !important

.templete-appbar
  background-color: #A52A2A !important
  overflow: auto !important

.tab-content
  text-align: center
  overflow: auto !important
