  .root
    flex-grow: 1
    margin-bottom: 0px
    header
      padding-right: 0px

  .appbar
    background-color: skyblue !important
    & .toolbar
        background-color: inherit;
    & .home-icon
        margin-right: 8px

  .grow
    flex-grow: 1

  .titleColor
    color: white

  .list
    border-right: 2px solid grey
    margin: 0px
    height: calc(100vh - 40px)
    width: 240px
    background-color: white
    padding-left: 0px
    padding-right: 0px
    position: fixed
    overflow: scroll
